.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-container.horizontal {
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.service-link {
  scroll-snap-align: start;
  flex: 0 0 auto;
}
